{% load socialaccount %}
{% providers_media_js %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    {{user.username}}
    <button><a href="{% provider_login_url "google" %}">Login With Google</button>
    <button><a href="{% provider_login_url "facebook" method="oauth2" %}">Login With Facebook</button>
</body>

</html>